<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.macpaint.filesystem.hfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>fusefs_hfs</string>
	<key>CFBundlePackageType</key>
	<string>fs  </string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.5</string>
	<key>CFBundleSignature</key>
	<string>fHFS</string>
	<key>CFBundleVersion</key>
	<string>0.1.5</string>
	<key>FSMediaTypes</key>
	<dict>
		<key>Apple_Boot</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_Boot</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>fusefs_hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>900</integer>
			<key>autodiskmount</key>
			<false/>
		</dict>
		<key>Apple_HFS</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Content Hint</key>
				<string>Apple_HFS</string>
				<key>Leaf</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>fusefs_hfs.util</string>
			<key>FSProbeOrder</key>
			<integer>900</integer>
		</dict>
		<key>Whole</key>
		<dict>
			<key>FSMediaProperties</key>
			<dict>
				<key>Leaf</key>
				<true/>
				<key>Whole</key>
				<true/>
			</dict>
			<key>FSProbeArguments</key>
			<string>-p</string>
			<key>FSProbeExecutable</key>
			<string>fusefs_hfs.util</string>
			<key>FSProbeOrder</key>
			<real>1900</real>
		</dict>
	</dict>
	<key>FSPersonalities</key>
	<dict>
		<key>HFS</key>
		<dict>
			<key>FSFormatArguments</key>
			<string>-i</string>
			<key>FSFormatContentMask</key>
			<string>Apple_HFS</string>
			<key>FSFormatExecutable</key>
			<string>fusefs_hfs.util</string>
			<key>FSFormatMaximumSize</key>
			<real>2147483648</real>
			<key>FSFormatMinimumSize</key>
			<integer>409600</integer>
			<key>FSMountArguments</key>
			<string>-m</string>
			<key>FSMountExecutable</key>
			<string>fusefs_hfs.util</string>
			<key>FSName</key>
			<string>HFS</string>
			<key>FSRepairArguments</key>
			<string>-y</string>
			<key>FSRepairExecutable</key>
			<string>hfsck</string>
			<key>FSVerificationArguments</key>
			<string>-q</string>
			<key>FSVerificationExecutable</key>
			<string>hfsck</string>
		</dict>
	</dict>
</dict>
</plist>
